In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [64]:
%load_ext dotenv
%dotenv

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [65]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://' + os.environ.get("MYSQL_USER") + ":" + os.environ.get("MYSQL_PASSWORD") + '@localhost:3306/final_project')

In [66]:
df_yfinance = pd.read_sql('''select * from yfinance where date between "2020-04-14" and "2020-05-15"
                          ORDER BY date asc''', con=engine)
df_yfinance.set_index('date', inplace = True)
df_yfinance

,open,high,low,close,volume,dollar_change,percent_change
date,,,,,,,
2020-04-14,698.97,741.88,692.43,709.89,30576500,58.94,0.0905
2020-04-15,742.00,753.13,710.00,729.83,23577000,19.94,0.0281
2020-04-16,716.94,759.45,706.72,745.21,20657900,15.38,0.0211
2020-04-17,772.28,774.95,747.66,753.89,13128200,8.68,0.0116
2020-04-20,732.70,765.57,712.21,746.36,14746600,-7.53,-0.0100
2020-04-21,730.12,753.33,673.79,686.72,20209100,-59.64,-0.0799
2020-04-22,703.98,734.00,688.71,732.11,14224800,45.39,0.0661
2020-04-23,727.60,734.00,703.13,705.63,13236700,-26.48,-0.0362
2020-04-24,710.81,730.73,698.18,725.15,13237600,19.52,0.0277
2020-04-27,737.61,799.49,735.00,798.75,20681400,73.60,0.1015
2020-04-28,795.64,805.00,756.69,769.12,15222000,-29.63,-0.0371
2020-04-29,790.17,803.20,783.16,800.51,16216000,31.39,0.0408
2020-04-30,855.19,869.82,763.50,781.88,28471900,-18.63,-0.0233
2020-05-01,755.00,772.77,683.04,701.32,32531800,-80.56,-0.1030
2020-05-04,701.00,762.00,698.00,761.19,19237100,59.87,0.0854
2020-05-05,789.79,798.92,762.18,768.21,16991700,7.02,0.0092
2020-05-06,776.50,789.80,761.11,782.58,11123200,14.37,0.0187
2020-05-07,777.21,796.40,772.35,780.04,11527700,-2.54,-0.0032
2020-05-08,793.77,824.00,787.01,819.42,16130100,39.38,0.0505
2020-05-11,790.51,824.00,785.00,811.29,16471100,-8.13,-0.0099
2020-05-12,827.00,843.29,808.00,809.41,15906900,-1.88,-0.0023
2020-05-13,820.83,826.00,763.30,790.96,19065500,-18.45,-0.0228
2020-05-14,780.00,803.36,764.00,803.33,13682200,12.37,0.0156
2020-05-15,790.35,805.05,786.55,799.17,10500700,-4.16,-0.0052

In [67]:
df_news = pd.read_sql('select * from news where date between "2020-04-14" and "2020-05-15" ', con=engine)
df_news.set_index('date', inplace = True)
df_news

            total_articles
date
2020-04-14  195
2020-04-15  230
2020-04-16  153
2020-04-17  142
2020-04-18  50
2020-04-19  51
2020-04-20  101
2020-04-21  125
2020-04-22  126
2020-04-23  173
2020-04-24  149
2020-04-25  59
2020-04-26  52
2020-04-27  199
2020-04-28  178
2020-04-29  335
2020-04-30  407
2020-05-01  329
2020-05-02  143
2020-05-03  74
2020-05-04  206
2020-05-05  284
2020-05-06  235
2020-05-07  239
2020-05-08  246
2020-05-09  227
2020-05-10  216
2020-05-11  440
2020-05-12  371
2020-05-13  356
2020-05-14  303
2020-05-15  224

In [68]:
df_sentiment = pd.read_sql('select * from sentiment where date between "2020-04-14" and "2020-05-15" ', con=engine)
df_sentiment.set_index('date', inplace = True)
df_sentiment

            daily_sentiment_score
date
2020-04-14  0.000000
2020-04-15  0.000000
2020-04-16  0.000000
2020-04-17  0.000000
2020-04-21  0.000000
2020-04-22 -0.028333
2020-04-23  0.000000
2020-04-24  0.000000
2020-04-25  0.000000
2020-04-26  0.000000
2020-04-27  0.000000
2020-04-28  0.000000
2020-04-29 -0.001000
2020-04-30 -0.014545
2020-05-01 -0.013750
2020-05-02  0.000000
2020-05-04  0.000000
2020-05-05  0.026667
2020-05-06  0.000000
2020-05-07  0.000000
2020-05-08  0.000000
2020-05-09  0.000000
2020-05-10 -0.030000
2020-05-11  0.006875
2020-05-12  0.000000
2020-05-13  0.001111
2020-05-14  0.000000
2020-05-15  0.000000

In [69]:
df_twitter = pd.read_sql('select * from twitter where date between "2020-04-14" and "2020-05-15" ', con=engine)
df_twitter.set_index('date', inplace = True)
df_twitter

             count
date
2020-04-14  21542
2020-04-15  21935
2020-04-16  43480
2020-04-17  32316
2020-04-18  25334
2020-04-19  22362
2020-04-20  23847
2020-04-21  23974
2020-04-22  46921
2020-04-23  25420
2020-04-24  28819
2020-04-25  26498
2020-04-26  24595
2020-04-27  20662
2020-04-28  23232
2020-04-29  43285
2020-04-30  60349
2020-05-01  72638
2020-05-02  52134
2020-05-03  29691
2020-05-04  24396
2020-05-05  36240
2020-05-06  34493
2020-05-07  31187
2020-05-08  26640
2020-05-09  69038
2020-05-10  114038
2020-05-11  141968
2020-05-12  191825
2020-05-13  103732
2020-05-14  49591
2020-05-15  35062

In [70]:
pd.set_option('display.max_colwidth', -1)
df_headlines = pd.read_sql('select * from headlines', con=engine)
df_headlines.set_index('date', inplace = True)
df_headlines

,id,source,headline
date,,,
2020-04-14,1,Bloomberg,Tesla Wooed by $1 Billion Missouri Package for Cybertruck Plant
2020-04-14,2,CNBC,Tesla shares pop after Credit Suisse upgrades stock says company will increase electric car lead
2020-04-14,3,CNBC,Tesla shares jump after hours as Goldman initiates with buy rating sees rally above $800
2020-04-14,4,CNBC,Analysts are bullish on stocks like Tesla Netflix and Zoom as earnings season gets underway
2020-04-14,5,CNBC,What to watch today: Dow set to jump at open as earnings seasons kicks off
...,...,...,...
2020-05-16,527,CNBC,Health officials issue dire warnings; FBI scrutinizes senators' stock sales: This week's recap and best reads
2020-05-17,528,Bloomberg,Tesla Tells Employees It Has County Approval to Reopen Plant
2020-05-18,529,CNBC,What to watch today: Dow futures extend gains after positive vaccine results
2020-05-18,530,CNBC,Stocks making the biggest moves in the premarket: Moderna Goldman Sachs Under Armour & more
2020-05-18,531,CNBC,5 things to know before the stock market opens Monday

In [71]:
df_merged = df_yfinance.merge(df_news, left_on='date', right_on='date')
df_merged = df_merged.merge(df_sentiment, left_on='date', right_on='date')
df_merged = df_merged.merge(df_twitter, left_on='date', right_on='date')
df_merged = df_merged.rename({'count': 'tweet_count'}, axis=1)
df_merged

,open,high,low,close,volume,dollar_change,percent_change,total_articles,daily_sentiment_score,tweet_count
date,,,,,,,,,,
2020-04-14,698.97,741.88,692.43,709.89,30576500,58.94,0.0905,195,0.000000,21542
2020-04-15,742.00,753.13,710.00,729.83,23577000,19.94,0.0281,230,0.000000,21935
2020-04-16,716.94,759.45,706.72,745.21,20657900,15.38,0.0211,153,0.000000,43480
2020-04-17,772.28,774.95,747.66,753.89,13128200,8.68,0.0116,142,0.000000,32316
2020-04-21,730.12,753.33,673.79,686.72,20209100,-59.64,-0.0799,125,0.000000,23974
2020-04-22,703.98,734.00,688.71,732.11,14224800,45.39,0.0661,126,-0.028333,46921
2020-04-23,727.60,734.00,703.13,705.63,13236700,-26.48,-0.0362,173,0.000000,25420
2020-04-24,710.81,730.73,698.18,725.15,13237600,19.52,0.0277,149,0.000000,28819
2020-04-27,737.61,799.49,735.00,798.75,20681400,73.60,0.1015,199,0.000000,20662
2020-04-28,795.64,805.00,756.69,769.12,15222000,-29.63,-0.0371,178,0.000000,23232
2020-04-29,790.17,803.20,783.16,800.51,16216000,31.39,0.0408,335,-0.001000,43285
2020-04-30,855.19,869.82,763.50,781.88,28471900,-18.63,-0.0233,407,-0.014545,60349
2020-05-01,755.00,772.77,683.04,701.32,32531800,-80.56,-0.1030,329,-0.013750,72638
2020-05-04,701.00,762.00,698.00,761.19,19237100,59.87,0.0854,206,0.000000,24396
2020-05-05,789.79,798.92,762.18,768.21,16991700,7.02,0.0092,284,0.026667,36240
2020-05-06,776.50,789.80,761.11,782.58,11123200,14.37,0.0187,235,0.000000,34493
2020-05-07,777.21,796.40,772.35,780.04,11527700,-2.54,-0.0032,239,0.000000,31187
2020-05-08,793.77,824.00,787.01,819.42,16130100,39.38,0.0505,246,0.000000,26640
2020-05-11,790.51,824.00,785.00,811.29,16471100,-8.13,-0.0099,440,0.006875,141968
2020-05-12,827.00,843.29,808.00,809.41,15906900,-1.88,-0.0023,371,0.000000,191825
2020-05-13,820.83,826.00,763.30,790.96,19065500,-18.45,-0.0228,356,0.001111,103732
2020-05-14,780.00,803.36,764.00,803.33,13682200,12.37,0.0156,303,0.000000,49591
2020-05-15,790.35,805.05,786.55,799.17,10500700,-4.16,-0.0052,224,0.000000,35062

In [72]:
df_merged = df_merged.filter(['percent_change','total_articles','daily_sentiment_score', 'tweet_count'], axis=1)
df_merged

            percent_change  total_articles  daily_sentiment_score  tweet_count
date
2020-04-14  0.0905          195             0.000000               21542
2020-04-15  0.0281          230             0.000000               21935
2020-04-16  0.0211          153             0.000000               43480
2020-04-17  0.0116          142             0.000000               32316
2020-04-21 -0.0799          125             0.000000               23974
2020-04-22  0.0661          126            -0.028333               46921
2020-04-23 -0.0362          173             0.000000               25420
2020-04-24  0.0277          149             0.000000               28819
2020-04-27  0.1015          199             0.000000               20662
2020-04-28 -0.0371          178             0.000000               23232
2020-04-29  0.0408          335            -0.001000               43285
2020-04-30 -0.0233          407            -0.014545               60349
2020-05-01 -0.1030          329            -0.013750               72638
2020-05-04  0.0854          206             0.000000               24396
2020-05-05  0.0092          284             0.026667               36240
2020-05-06  0.0187          235             0.000000               34493
2020-05-07 -0.0032          239             0.000000               31187
2020-05-08  0.0505          246             0.000000               26640
2020-05-11 -0.0099          440             0.006875               141968
2020-05-12 -0.0023          371             0.000000               191825
2020-05-13 -0.0228          356             0.001111               103732
2020-05-14  0.0156          303             0.000000               49591
2020-05-15 -0.0052          224             0.000000               35062

In [83]:
corr_matrix = df_merged.corr()
corr_matrix

,percent_change,total_articles,daily_sentiment_score,tweet_count
percent_change,1.000000,-0.239067,0.022848,-0.263770
total_articles,-0.239067,1.000000,0.120228,0.704367
daily_sentiment_score,0.022848,0.120228,1.000000,-0.006055
tweet_count,-0.263770,0.704367,-0.006055,1.000000

In [84]:
#pip install statsmodels
import statsmodels.formula.api as sm

In [85]:
result = sm.ols(formula="percent_change ~ total_articles + daily_sentiment_score + tweet_count", data=df_merged).fit()

In [86]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         percent_change   R-squared:                       0.076
Model:                            OLS   Adj. R-squared:                 -0.069
Method:                 Least Squares   F-statistic:                    0.5241
Date:                Tue, 19 May 2020   Prob (F-statistic):              0.671
Time:                        12:48:47   Log-Likelihood:                 37.592
No. Observations:                  23   AIC:                            -67.18
Df Residuals:                      19   BIC:                            -62.64
Df Model:                           3
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                 0.0369      0.034      1.086      0.291      -0.034       0.108
total_articles        -6.254e-05      0.000     -0.363      0.721      -0.000       0.000
daily_sentiment_score     0.1898      1.197      0.159      0.876      -2.316       2.696
tweet_count           -2.165e-07   3.71e-07     -0.584      0.566   -9.92e-07    5.59e-07
==============================================================================
Omnibus:                        1.445   Durbin-Watson:                   2.678
Prob(Omnibus):                  0.486   Jarque-Bera (JB):                0.808
Skew:                          -0.459   Prob(JB):                        0.667
Kurtosis:                       2.992   Cond. No.                     7.15e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.15e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [87]:
print(result.params)

Intercept                3.687257e-02
total_articles          -6.254470e-05
daily_sentiment_score    1.898357e-01
tweet_count             -2.164965e-07
dtype: float64

In [88]:
df_merged2 = df_merged.copy()
df_merged2['percent_change'] = abs(df_merged2['percent_change'])
df_merged2['daily_sentiment_score'] = abs(df_merged2['daily_sentiment_score'])
df_merged2

            percent_change  total_articles  daily_sentiment_score  tweet_count
date
2020-04-14  0.0905          195             0.000000               21542
2020-04-15  0.0281          230             0.000000               21935
2020-04-16  0.0211          153             0.000000               43480
2020-04-17  0.0116          142             0.000000               32316
2020-04-21  0.0799          125             0.000000               23974
2020-04-22  0.0661          126             0.028333               46921
2020-04-23  0.0362          173             0.000000               25420
2020-04-24  0.0277          149             0.000000               28819
2020-04-27  0.1015          199             0.000000               20662
2020-04-28  0.0371          178             0.000000               23232
2020-04-29  0.0408          335             0.001000               43285
2020-04-30  0.0233          407             0.014545               60349
2020-05-01  0.1030          329             0.013750               72638
2020-05-04  0.0854          206             0.000000               24396
2020-05-05  0.0092          284             0.026667               36240
2020-05-06  0.0187          235             0.000000               34493
2020-05-07  0.0032          239             0.000000               31187
2020-05-08  0.0505          246             0.000000               26640
2020-05-11  0.0099          440             0.006875               141968
2020-05-12  0.0023          371             0.000000               191825
2020-05-13  0.0228          356             0.001111               103732
2020-05-14  0.0156          303             0.000000               49591
2020-05-15  0.0052          224             0.000000               35062

In [92]:
corr_matrix2 = df_merged2.corr()
corr_matrix2

,percent_change,total_articles,daily_sentiment_score,tweet_count
percent_change,1.000000,-0.298940,0.071312,-0.333481
total_articles,-0.298940,1.000000,0.156457,0.704367
daily_sentiment_score,0.071312,0.156457,1.000000,0.092420
tweet_count,-0.333481,0.704367,0.092420,1.000000

In [93]:
result2 = sm.ols(formula="percent_change ~ total_articles + daily_sentiment_score + tweet_count", data=df_merged2).fit()

In [94]:
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         percent_change   R-squared:                       0.133
Model:                            OLS   Adj. R-squared:                 -0.004
Method:                 Least Squares   F-statistic:                    0.9684
Date:                Tue, 19 May 2020   Prob (F-statistic):              0.428
Time:                        12:50:49   Log-Likelihood:                 48.119
No. Observations:                  23   AIC:                            -88.24
Df Residuals:                      19   BIC:                            -83.70
Df Model:                           3
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                 0.0590      0.021      2.795      0.012       0.015       0.103
total_articles        -5.288e-05      0.000     -0.488      0.631      -0.000       0.000
daily_sentiment_score     0.4495      0.834      0.539      0.596      -1.295       2.194
tweet_count           -1.854e-07   2.33e-07     -0.797      0.436   -6.72e-07    3.02e-07
==============================================================================
Omnibus:                        2.974   Durbin-Watson:                   1.786
Prob(Omnibus):                  0.226   Jarque-Bera (JB):                2.362
Skew:                           0.770   Prob(JB):                        0.307
Kurtosis:                       2.693   Cond. No.                     7.86e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.86e+06. This might indicate that there are
strong multicollinearity or other numerical problems.